.product-card {
    border: none;
    color: black;
    font-family: 'Open Sans' sans-serif;
}

.product-card:hover {
    color: black;
    text-decoration: none
}

.product-card:active{
    border: none;
    color:blue;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.link-remove:hover {
    text-decoration: underline;
}

.css-file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}